@tailwind base;
@tailwind components;
@tailwind utilities;

.mask {
    mask-image: url('../public//images/yellow-bg.svg');
    mask-position: bottom left;
    mask-size: cover;
    mask-repeat: no-repeat;
    padding: 0 3em;
    padding-top: 2em;
}